body{
  color: #8585ad;
  margin:auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px
}
h2{
  text-align: center;
}
.name {
  color:#ffffff;
  margin:auto;
  text-align: center;
  font-family:"Times New Roman", Times, serif;
  background-color: #ffffff;
  font-size: 50px;
  letter-spacing: 1px;
  font-variant: small-caps;
  background-image: url("jelly.jpeg");
  background-size:auto;
}
.current{
  color:#ffffff;
  background-color: #8585ad;
  text-align: justify;
  font-size: 20px;
}
.marine{
  text-shadow: 2px 2px 5px #000000;
}
img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 25px;
  width: 40%;
  height:40%;
}
.a{
  font-size: 20px;
  text-align: justify;
  margin: 20px;
}
a:link, a:visited {
  background-color: white;
  color:#8585ad;
  border: 2px solid #8585ad;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color:#ffffff;
  background-color:#8585ad;
}


.dropbtn {
  background-color: #ffffff;
  color: #8585ad;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #8585ad;
  font-family:"Times New Roman", Times, serif;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8585ad;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color:#8585ad ;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #8585ad;
color: #ffffff}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #8585ad;
  color: #ffffff
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8585ad;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover {
  background-color: #blue;
}

.active {
  background-color: #b3d9ff;
}
