body{
  color: #8585ad;
  margin:auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px
}
h1{
  text-align: center;
}
.name {
  color:#8585ad;
  margin:auto;
  font-family:"Times New Roman", Times, serif;
  background-color: #ffffff;
  font-size: 40px;
  letter-spacing: 1px;
  background-image: url(Save the Trees.png);
  background-size: 100%;
}
.current{
  color:#ffffff;
  background-color: #8585ad;
}
.marine{
  text-shadow: 2px 2px 5px #000000;
}
img{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 25px;
  width: 40%;
  height:40%;
}
a:link, a:visited {
  background-color: white;
  color:#8585ad;
  border: 2px solid #8585ad;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color:#ffffff;
  background-color:#8585ad;
}
