body{
  color: #ffffff;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  letter-spacing: 1px;
  word-spacing: 2px;
  display: block;
  background-color: #ffffff;
  text-align: center;
}

a:link, a:visited {
  background-color: white;
  color:#8585ad;
  border: 2px solid #8585ad;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  color:#ffffff;
  background-color:#8585ad;
}
.a{
  font-size: 20px;
  text-align: justify;
  margin: 20px;
}
.container {
  position: middle;
  width: 60%;
  align-items: center;

}
.image{
  object-fit: cover;
  width: auto;
  height: auto;
  margin-left: 35%;


}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #8585ad;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
}
